@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
*{
  font-family: 'Comic Neue', cursive;

}
.full-name{
  text-transform: uppercase;
  font-size: calc(16px + 8vmin);
  font-weight: 900;
  
}
.has-text-uppercase{
  text-transform: uppercase;
}

.main-hero .container{


}
.navbar-middle{
  display: flex;
  margin: 0px auto 0px auto;
}
.project{
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.project.is-dark .hero-body{
  background:linear-gradient(to bottom, rgba(0,0,0,0.9),rgba(0,0,0,1));
}
.project.is-light .hero-body{
  background:linear-gradient(to bottom, RGB(245, 245, 245,.9),RGB(245, 245, 245));
}

.project .image{
  box-shadow: 0px 20px 15px -10px rgba(0,0,0,0.2);
  overflow: hidden;
}
.project .image img{
  transition: all 5s ease-in-out;
  
}
.project:hover  .image img{
  transform:  scale(1.1);
  
}

.project .column{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.project .title{
  font-size: calc(16px + 4vmin);
  text-transform: uppercase;
}
.project .technologies{
  margin-top: 2rem;
  display: flex;
  justify-content: flex-start;
}
.project .technologies li{
  padding: 3px 5px;
  
  margin: 0px 5px;
  border-radius: 8px;
  background: #f1f1f1;
  color: #333;
  font-size: 13px;
}
.project .technologies li:first-child{
  margin-left: 0px;
}

.project .links{
  margin-top: 2rem;
  display: flex;
  justify-content: flex-start;

}
.project .links .is-link{
  padding: 10px 15px;
  box-shadow: 0px 8px 10px -10px rgba(0,0,0,0.2);
  margin: 0px 10px;
  transition: all 0.5s ease-in-out;
  font-weight: 600;
  
}
.project .links .is-link:hover{
  box-shadow: 0px 8px 10px -0px rgba(0,0,0,0.2);
}
.project.is-light .links .is-link,.project.is-white .links .is-link{
  color: #fff;
  background: #f14668;

}
.project.is-danger .links .is-link{
  color: #fff;
  
  background: #333;
}
.project.is-danger .links .is-link:hover{
  color: #f14668;
  background: #fff;
}

@media only screen and (max-width: 900px)
{
  .project.is-variant .columns  {
    display: flex;
    flex-direction: column-reverse;
  }

}